<!--상위 관리자의 관리자 계정 관리 페이지 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 계정 관리</title>
    <link rel="stylesheet" href="/css/Admin/adminList.css">
</head>
<body>
<div class="admin-management">
    <h1>관리자 계정 관리</h1>
    <button onclick="showAddAdminModal()">관리자 추가</button>
    <table>
        <thead>
        <tr>
            <th>관리자 이름</th>
            <th>이메일</th>
            <th>권한</th>
            <th>비밀번호</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="admin : ${admin}">
            <td th:text ="${admin.id}">1</td>
            <td th:text="${admin.username}">홍길동</td>
            <td th:text="${admin.email}">홍길동</td>
            <td th:text="${admin.password}">홍길동</td>
            <td th:text="${admin.Role}">홍길동</td>
            <td th:text="${admin.status}">active</td>
        </tr>
        </tbody>
    </table>
</div>

<!-- 관리자 추가 모달 -->
<div id="addAdminModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeAddAdminModal()">&times;</span>
        <h2>관리자 추가</h2>
        <form id="addAdminForm">
            <label for="adminName">이름:</label>
            <input type="text" id="adminName" name="adminName" required>
            <label for="adminEmail">이메일:</label>
            <input type="email" id="adminEmail" name="adminEmail" required>
            <label for="adminRole">권한:</label>
            <select id="adminRole" name="adminRole">
                <option value="super-admin">슈퍼 관리자</option>
                <option value="admin">관리자</option>
            </select>
            <button type="submit">추가</button>
        </form>
    </div>
</div>
<!--<script src="/js/Admin/admin_board.js">
 -->
<script src="/js/Admin/admin_list.js">
</script>
</body>
</html>