<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 목록</title>
    <link rel="stylesheet" href="/css/Admin/memberList.css">
</head>
<body>
<h1>게시물 목록</h1>
<table>
    <thead>
    <tr>
        <th>아이디</th>
        <th>작성자</th>
        <th>비밀번호</th>
        <th>제목</th>
        <th>내용</th>
        <th>조회수</th>
        <th>게시물 상태</th>
    </tr>
    </thead>
    <tbody>
    <!-- th:each를 사용하여 boards 리스트의 각 BoardDTO 객체를 반복 -->
    <tr th:each="board : ${boards}">
        <td th:text="${board.id}">1</td>
        <td th:text="${board.boardWriter}">홍길동</td>
        <td th:text="${board.boardPass}">example@example.com</td>
        <td th:text="${board.boardTitle}">게시글 제목</td>
        <td th:text="${board.boardContents}">게시글 내용</td>
        <td th:text="${board.boardHits}">123</td>
        <td>
            <label>
            <select th:id="'status_' + ${board.id}" th:name="'status_'+ ${board.id}" th:value="${board.status}">
                <option value="active" th:selected="${board.status == 'active'}">Active</option>
                <option value="active" th:selected="${board.status == 'active'}">Banned</option>
            </select>
            </label>
        </td>
    </tr>
    </tbody>
</table>

<script src="/js/Admin/admin_board.js">
</script>
</body>

</html>