<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>

    <link rel="stylesheet" href="/css/register.css">
    <link rel="shortcut-icon" type="image/x-icon" href="/images/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="logo" id="logo">Studylink</div>
            <ul class="nav-links">
                <li><a href="../main_page/index.html">Home</a></li>
                <li class="dropdown">
                    <a href="#">Menu</a>
                    <ul class="dropdown-content">
                        <li><a href="#">메뉴1</a></li>
                        <li><a href="#">메뉴2</a></li>
                        <li><a href="#">메뉴3</a></li>
                    </ul>
                </li>
                <li><a href="노션으로 About 페이지를 만들어서 보기 옵션으로 변경 후 링크를 걸면 됩니다.">About</a></li>
                <li class="dropdown">
                    <a href="#">Help</a>
                    <ul class="dropdown-content">
                        <li><a href="#">메뉴1</a></li>
                        <li><a href="#">메뉴2</a></li>
                        <li><a href="#">메뉴3</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <div class="background"></div>
    <div class="register-container" id="registerContainer">
        <h2>Register</h2>
        <input type="email" id="email" placeholder="Enter your email">
        <input type="text" id="name" placeholder="Enter your name">
        <input type="password" id="password" placeholder="Enter your password">
        <input type="password" id="confirmPassword" placeholder="Confirm your password">
        <input type="text" id="postcode" placeholder="Enter your postcode" readonly>
        <input type="text" id="address" placeholder="Enter your address" readonly>
        <input type="text" id="detailAddress" placeholder="Enter your detailed address">
        <button type="button" onclick="execDaumPostcode()">Find Address</button>
        <button id="register">Submit</button>
        <p id="message"></p>
        <p id="passwordRequirements"></p> <!-- 비밀번호 요구사항을 표시할 영역 추가 -->
    </div>

    <script src="/js/register.js"></script>
    <script>
        document.getElementById('logo').addEventListener('click', function() {
            window.location.href = '/';

        });

        function execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    document.getElementById('postcode').value = data.zonecode;
                    document.getElementById('address').value = data.address;
                }
            }).open();
        }
    </script>
</body>
</html>